// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

<script>

var map = L.map('map').setView([48.87242997325711, 2.355489390173873], 13);

var lc = L.control.locate({position: 'topleft'}).addTo(map);

var velib = <%= @stations %>
var poi = <%= @coordinates %>


// Afficher les staions Velib
// var markers = []
// for (index = 0; index < velib.length; ++index) {
//     marker = L.marker(velib[index])
//     marker.addTo(map);
//     markers.push(marker)
// };


// Afficher une icone spécifique pour les entrées du formulaire
// var icon = L.icon({
//     iconUrl: '/logo_fb.png',
//     iconSize:     [38, 95], // size of the icon
//     iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
//     popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
// });

//, {icon: icon}


var markers = []
for (index = 0; index < poi.length; ++index) {
    marker = L.marker(poi[index])
    marker.addTo(map);
    markers.push(marker)
};



L.tileLayer('http://{s}.tile.mapbox.com/v3/foursquare.meku766r/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);

</script>