// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

<script>

var map = L.map('map').setView([48.87242997325711, 2.355489390173873], 13);

var lc = L.control.locate({position: 'topleft'}).addTo(map);

var velib = <%= @stations %>


var markers = []
for (index = 0; index < velib.length; ++index) {
    marker = L.marker(velib[index])
    marker.addTo(map);
    markers.push(marker)
};



L.tileLayer('http://{s}.tile.mapbox.com/v3/foursquare.meku766r/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);

</script>