<div class="announce">
	<h3>Bicyclink Team</h3>
	<p><a href="https://twitter.com/roxanarugina">Roxana Rugina</a>, project manager Bicyclink</p>
	<p>Valérie Chatelet, architect, hackathon Code For Paris.Region & Google Glass winner with <a href="http://bikefinder.mobi/beta-test/">Bike Finder</a></p> 
	<p>special thanks to <a href="http://simplon.co/">Simplon.co</a></p>

</div>

