<div class="container_contact">
    <div class="row">
         <div class="small-4 centered">          
        <h2 class="title">
            <h3>
                contact.bicyclink@gmail.com
            </h3>
        <h2 class="title">
                    Thanks!
        </h2>
       </div>
    </div>
</div>