


<div class="row">
  <div class="large-12 centered columns">
	<a href="http://www.meetup.com/Bicyclink/"><div class="meetup"> </div></a>
  </div>
</div>

<!--   <div class="announce">
  <h3>
  We are working hard on Bicyclink app, coming soon to help you find bike-friendly places and events in your city. Meanwhile we are also organising a meetup with bike-lovers from Paris. So stay tuned & keep riding! 
  </h3>
</div> -->

