
  <!-- First Band Headline -->
    <div class="container">
      <div class="headline mont_b">
        <h1> Explore the world through bicycling!</h1> <h1>Find bike-friendly places & meet like-minded people </h1>
      </div> 
    </div>


<!-- 
<div class="row">
      <div class="large-4 columns">
      <img src="logo1.png">
   </div>
 </div> -->

 <!-- Second Content Blocks -->

<!--  <div class="row">
      <h3>collaborating & mapping bike communities worldwide</h3>
</div>
</div>
 -->
<!-- <div class="large-4 columns">
           <div class="circular">
                <div class="icon"><i class="fi-marker"></i></div>
                <h4>mapping places</h4>
              </div>
            </div>
 -->

<!-- <div class="row"> -->

<div class="row">
  <div class="small-2 large-4 columns">
        <div class="circular"><a href="./static_pages/about.html">
          <div class="icon"><i class="fi-results-demographics large"></i></div>
          <h4>community</h4></a>
     <!--      <p>shape the future of cycling by using our API & keep riding</p> -->
        </div>
  </div>
    

  <div class="small-2 large-4 columns">
      <div class="circular"><a href="./static_pages/places.html">
        <div class="icon"><i class="fi-marker"></i></div>
        <h4>hotspots</h4></a>
        <!-- <p>find your place on the collaborative map & add your favorites</p> -->
      </div>
  </div>
   
 
  <div class="small-2 large-4 columns"> 
      <div class="circular"><a href="./static_pages/events.html">
        <div class="icon">
          <i class="fi-calendar"></i></div>
          <h4>events</h4></a>
        <!--   <p>meetup with people who love bikes & share experiences</p> -->
        </div>
      </div>
  </div>

</div>

   

<!-- Third Content Block -->
<div class="row">
  <div class="large-4 small-centered columns">
  <a href="http://eepurl.com/P46on" class="large button radius">Join us now!</a>
  </div>
</div>
<!-- <div class="row">
  <div class="introduction">
    <h3>People around the world are finding new ways to enjoy and reinvent the cycling experience. Travellers, makers, technologists, cyclists, urbanists, entrepreneurs are changing the world through bicycles. Let's do this together!</h3>
  </div>
</div>
 -->

<!-- 
<div class="map">
  </div>

<a href="http://www.meetup.com/Bicyclink/">
  <div class="meetup"></div></a>
   </div>
    </div>
  -->



