<div class="geolocalization">
	<h3>
	We are working hard on Bicyclink app, coming soon to help you find bike-friendly places and events in your city. Meanwhile we are organising crazy meetups with bike-lovers. So join us & keep riding! ________________________________________________________________
<div class="map">
  </div>
</h3>
</div>