<div class="geolocalization">
	<h3>
	We are working hard on Bicyclink app, coming soon to help you find bike-friendly places and events in your city. Meanwhile we are also organising a meetup with bike-lovers from Paris. So stay tuned & keep riding! ________________________________________________________________
Nous sommes actuellement en plein développement de l'application web Bicyclink. Notre application sert à localiser les spots intéressants pour les passionnées de vélo. Au mois de mars, nous organisons un apéro Bicyclink. Si vous voulez venir, suivez notre page :)
</h3>
</div>