<nav class="footer"></div>	
<div id="newsletter">
  <div class="row">

    <div class="medium-8 columns">
      <p>Keep riding and sign up to receive news about bicyclink events</p>
    </div>


  <div class="medium-4 columns">
    <form method="post" action="http://zurb.com/responsive/subscribe">
      <div class="row collapse margintop-20px">
        <div class="small-8 medium-8 columns">
          <input type="text" name="email" placeholder="signup@example.com">
        </div>
        <div class="small-4 medium-4 columns">
          <input type="submit" href="#" class="postfix small button expand" value="Sign Up">
        </div>
      </div>
    </form>
  </div>

  
  </div>
</div>
	<div class="row">
            <div class="small-4 medium-4 columns">
            <a href="static_pages/contact" class="radius button right">Contact Us</a>
          </div>
      </div>

