<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <img src="logo_name3.png"/>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
   
      <ul class="right button-group">
      <li><%= link_to "#" do %>
        <i class="fi-home"></i>
        <%end%></li>
      <li><%= link_to static_pages_events_path do %>
        <i class="fi-calendar"></i>
        <%end%></li>
      <li><%= link_to static_pages_places_path do %>
        <i class="fi-marker"></i>
        <%end%></li>
      <li><%= link_to static_pages_about_path do %>
        <i class="fi-info"></i>
        <%end%></li>
     </div>
   </div>
    </ul>
  </section>
</nav>